@media screen and (max-width: 820px) {
  main {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }

  main h1 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 7.9vh;
  }

  main p {
    text-align: center;
    font-size: 2.5vh;
    max-width: 80%;
    margin: auto;
    margin-bottom: 5vh;
  }

  .text {
    max-width: 100%;
    margin: auto;
  }
  .text p {
    margin-bottom: 3vh;
  }

  .findOutMore {
    width: 80vw;
    max-width: 80vw;
    margin: auto;
    font-size: 2.5vh;
    margin-bottom: 3vh;
    display: flex;
  }

  .findOutMore a {
    font-size: 2.5vh;
  }

  /* .mockup {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .mockup img {
    max-width: 100%;
    padding-bottom: 3vh;
    margin-top: -3vh;
  } */
}

@media screen and (max-width: 820px) {
  nav {
    /* display: block; */
    margin: 20px;
  }

  .logo img {
    max-width: 90%;
  }
  nav div {
    flex: 1;
    font-size: 1.8vh;
    font-weight: 300;
    /* border: 1px solid; */
  }

  nav .links {
    flex: 2;
    justify-content: center;
    padding: 0px 10px;
  }
  nav .form {
    gap: 2vw;
  }
}

/* tab queries for sections after footer */
@media screen and (max-width: 820px) {
  .features {
    
    position: relative;
  }

  .features .feature-circle-1 {
    top: -48vw;
    left: 12vh;
    width: 60vw;
    height: 60vw;
  }
  .features .feature-circle-2 {
    display: none;
  }
  .features section {
    flex-direction: column-reverse;
    margin-top: 5.8vh;
  }
  .features section a {
    width: 70%;
    position: relative;
    margin: auto;
  }

  .features section > div {
    width: 100%;
  }
  .features section > div h1 {
    text-align: center;
  }

  .features p {
    max-width: 100%;
  }

  .feature-1 {
    max-width: 100%;
  }
  .cta {
    padding: 20px;
    display: block;
  }

  .cta > div {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cta a {
    padding: 20px;
    font-size: 3.5vh;
    margin: auto;
  }

  .cta h1,
  p {
    max-width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .cta h1 {
    max-width: 100%;
  }

  div#poweredby{
    background-color: white;
    padding: 20px;
  }

  footer .container {
    padding: 7.13vh;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: baseline;
    /* padding: 20px 40px; */
  }
  footer .container2 {
    padding: 7.13vh;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: center; */
    align-items: baseline;
    /* padding: 20px 40px; */
  }
  footer .container2 .icons {
    display: flex;
    justify-content: space-around;
  }

  footer p {
    text-align: left;
  }
}

.features .feature-circle-1 {
  background-color: var(--persian-blue);
  width: 37.2vw;
  height: 37.2vw;
  border-radius: 50%;
  position: absolute;
  top: -59vh;
  left: 55vw;
  /* z-index: -1; */
}
.features .feature-circle-2 {
  background-color: var(--persian-blue);
  width: 37.2vw;
  height: 37.2vw;
  border-radius: 50%;
  position: absolute;
  bottom: -60vh;
  left: 55vw;
  /* z-index: -1; */
}