@import "./assets/GTWalsheimPrp-Font/stylesheet.css";

:root {
  --persian-blue: #192cd1;
  --mid-slate-blue: #707eff;
  --max-blue-purple: #a4adff;
  --magnolia: #f6f0ff;
  --mangolia-dark: #e5e3ed;
  --yellow-green: #1ab700;
  --int-orange: #b70000;
  --cultured: #f5f5f5;
  --cultured-dark: #f0f0f0;
  --light-gray: #cdcdcd;
  --rythm: #7f72a4;
}

* {
  /* transition: 0.3s ease-in-out; */
}

html {
  scroll-behavior: smooth;
}

#logo {
  width: 15vw;
  height: auto;
}

#phone {
  width: 37vh;
  height: auto;
}

body {
  margin: 0px;
  /* background-color: var(--persian-blue); */
  font-family: 'GT Walsheim Pro';
  box-sizing: border-box;
}

.circle {
  width: 37vw;
  height: 37vw;
  background-color: var(--mangolia-dark);
  border-radius: 50%;
  position: fixed;
  top: 80vh;
  left: -15vw;
  /*  */
}

/* nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 3.1vh 3.4vw; */
  margin-bottom: 0px;
  background-color: var(--persian-blue);
  height: 10vh;
  padding-left: 5.27vw;
  padding-right: 5.27vw;
}

nav > div {
  /*  */
  font-size: 2.8vh;
  font-weight: 300;
  display: flex;
  align-items: center;
  color: white;
}

nav .logo,
.form {
  /* flex: 1; */
}

nav .links {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 2.6vw;
}
nav .links a {
  color: #fff;
  text-decoration: none;
}

nav .form {
  display: flex;
  justify-content: flex-end;
  gap: 2.7vw;
  align-items: center;
}

nav .form a {
  text-decoration: none;
  color: #fff;
}

nav .form a.signup {
  padding: 1.7vh 2vw;
  background-color: white;
  color: var(--persian-blue);
}

nav.sm {
  display: none;
}

.nav-toggle {
  width: 5vh;
  height: 5vh;
  padding: 0px;
}
/* logo */
.logo img {
  max-width: 25vw;
}

/* nav mobile media queries */
@media screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  nav.lg {
    display: none;
  }
  nav.sm {
    display: flex;
    align-items: center;
    height: 10vh;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 3vw;
    padding-top: 3.5vw;
  }
  nav {
    /* display: block; */
  }

  nav.sm a {
    text-decoration: none;
  }

  nav.mobile {
    display: block;
  }

  nav div {
    flex: 1;
    font-size: 2vh;
    font-weight: 500;
    align-items: center;
    /*  */
  }

  nav.links,
  .logo,
  form {
    flex: 1;
  }

  nav .links {
    /* gap: 2.3px; */
    justify-content: space-around;
    display: none;

    margin: 2px;
  }

  .logo img {
    max-width: 35vw;
  }
  .signup {
    padding: 1vw;
  }
  nav .form {
    gap: 3vw;
  }
  .nav-toggle {
    background: none;
    border: none;
    padding: 2px;
    /* background-color: white; */
    box-sizing: border-box;
    position: relative;
  }
  .nav-toggle-icon {
    width: 6.4vw;
    height: auto;
    top: 0px;
    left: 0px;
  }

  #nav-toggle-close {
    display: none;
  }

  .nav-dropdown {
    background-color: white;
    box-shadow: 0px 2px 3px #707effa9;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    color: var(--persian-blue);
    position: absolute;
    width: calc(100% - 20px);
    z-index: 1;
    display: none;
  }

  .nav-dropdown ul {
    list-style: none;
    padding: 0px;
  }

  .nav-dropdown li.link {
    padding: 10px;
  }
  .nav-dropdown li {
    display: flex;
    justify-content: space-between;
  }
  .nav-dropdown li a {
    text-decoration: none;
    color: var(--persian-blue);
  }
  .nav-dropdown li span {
    padding: 10px;
    flex: 1;
  }
}
@media screen and (min-width: 481px) {
  #nav-dropdown {
    display: none;
  }
}

/* nav tab media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  nav.lg {
    display: none;
  }
  nav.sm {
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    margin: 0px;
    padding-left: 4.88vw;
    padding-right: 4.88vw;
  }

  .nav-toggle {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  #nav-toggle-close {
    display: none;
  }

  .logo img {
    max-width: 25vw;
  }
  .nav-toggle-icon{
    width: 4vw;
  }
}

/* main */
main {
  display: flex;
  background-color: var(--persian-blue);
  justify-content: space-between;
  height: 90vh;
  overflow: hidden;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.text h1 {
  /* font-size: 8.2vh; */
  margin: 0px;
  margin-bottom: 3.43vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.text p {
  color: white;
  /* font-size: 1.4rem; */
  /* max-width: 36vw; */
  margin: 0px;
  /* margin-bottom: 5.83vh; */
  line-height: 1.5;
}

.findOutMore {
  display: flex;
  flex-direction: row;
  background-color: var(--mid-slate-blue);
  /* height: 7.87vh; */
  /* width: 19.3vw; */
  align-items: center;
  transition: 0.3s ease;
}

.findOutMore a {
  flex: 1;
  /* border: 1px solid; */
  padding: 10px;
  height: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  flex: 3;
  line-height: 1.5;
  /* display: block; */
}

/* main mobile media queries */
@media screen and (max-width: 480px) {
  main {
    margin-top: 3px;
    flex-direction: column;

    /* width: 75vw; */
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
    /* border: 1px solid red; */
  }

  .text {
    max-width: 100vw;
    margin-top: 7.8vh;
    visibility: hidden;
  }

  .text p {
    text-align: center;

    max-width: 100%;
    margin: auto;
    margin-bottom: 3.3vh;
    font-size: 2.5vh;
  }

  .text h1 {
    font-size: 4.3vh;
    margin-bottom: 1.85vh;
    text-align: center;

    margin-top: 0px;
    /* line-height: 1.5; */
  }

  .mockup {
    margin: auto;
    display: flex;
    justify-content: center;

    visibility: hidden;
    width: 100%;
    margin-top: 3.9vh;
    padding-bottom: 12.7vh;
  }

  .mockup img {
    width: 78vw;
    /* max-width: 90%; */
    margin: auto;
  }

  .findOutMore {
    margin: auto;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    visibility: hidden;
  }

  .findOutMore a {
    width: 51vw;
    /* border: 1px solid; */
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 20px; */
  }
}

/* main tab media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55.2vh;
    gap: 1.9vh;
  }

  main > div {
    width: 100%;
    max-width: 45vw;
    /* border: 1px solid; */
  }

  main img {
    width: 100%;
  }

  .findOutMore {
    width: 18.6vw;
    height: 2.64vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  .findOutMore a {
    font-size: 1.2vh;
    font-weight: bold;
    height: auto;
    /* visibility: hidden; */
  }

  .text {
    visibility: hidden;
  }

  .text h1 {
    font-size: 3vh;
    margin-bottom: 1.9vh;
  }

  .text p {
    text-align: center;
    font-size: 1.1vh;
    width: 32vw;
    margin: auto;
    margin-bottom: 1.9vh;
  }

  .mockup {
    visibility: hidden;
  }
}

.features {
  background-color: white;
  position: relative;
  /* height: 500px; */
  overflow: hidden;
  padding-bottom: 8.5vh;
}

.features h1 {
  color: var(--persian-blue);
  font-size: 3vh;
  width: 81vw;
  margin-bottom: 2vh;
  margin-top: 0px;
  margin: auto;
  margin-bottom: 1vh;
  /*  */
}
.green-text {
  color: var(--yellow-green);
}
.features p {
  margin: 0px;
  margin-bottom: 2vh;
  font-size: 2.5vh;
  width: 75.47vw;
  margin: auto;
  margin-bottom: 3vh;
}

.features section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20vh;
}
.features section.second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  z-index: 2;
}
#budgeting-img {
  width: 64.8vw;
}
.features section > div {
  /*  */
  /* width: 50%; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features section a {
  background-color: var(--persian-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 14.48vw;
  height: 7.2vh;
  font-size: 2.8vh;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
}

/* features mobile media queries */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .hide-mobile {
    display: none;
  }

  .features {
    padding-bottom: 10vh;
  }

  .features section {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }

  .features section.second {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
    margin-bottom: 15vh;
  }

  .features section {
    flex-direction: column-reverse;
  }

  #feature-1,
  #feature-2,
  #feature-3 {
    visibility: hidden;
  }

  .features section > div {
    width: 100%;
  }
  .features section  h1 {
    text-align: center;
    font-size: 4.3vh;
    width: 81vw;
    margin-bottom: 2vh;
  }
  .features section  h1.lg {
    font-size: 4.3vh;
  }

  .features p {
    max-width: 100%;
    text-align: center;
  }

  /* .features section a {
    width: 70%;
    position: relative;
  } */

  .features section img {
    margin-top: 2.7vh;
    width: 64.8vw;
    margin: auto;
    margin-top: 20px;
  }

  .features section a {
    background-color: var(--rythm);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 28.8vw;
    height: 4.3vh;
    font-size: 1.72vh;
    text-decoration: none;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 3vh;
  }
}

/* features tab media queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
 
  .features {
    padding-top: 5vh;
  }

  .features img {
    width: 100%;
  }

  .features section,
  .features section.second {
    flex-direction: column-reverse;
    max-width: 57vw;
    /* border: 1px solid; */
    margin: auto;
    margin-bottom: 13vh;
  }

  .features h1 {
    width: auto;
    text-align: center;
    margin-bottom: 3.3vh;
    font-size: 3.3vh;
  }

  .features p {
    width: auto;
    text-align: center;
    margin-bottom: 3.3vh;
    font-size: 1.76vh;
  }

  .features section a {
    margin: auto;
    margin-bottom: 2.4vh;
    font-size: 1.02vh;
    width: 17.4vw;
    height: 3.15vh;
    border-radius: 5px;
  }
  #feature-1,
  #feature-2,
  #feature-3 {
    visibility: hidden;
  }
}

.cta {
  /* background-color: var(--cultured); */
  padding: 6.77vw 18.51vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta h1 {
  font-size: 4.63vh;
  max-width: 40.3vw;
  font-weight: 400;
}
.cta p {
  font-size: 3.24vh;
}

.cta a {
  font-size: 4.63vh;
  background-color: var(--yellow-green);
  color: white;
  text-decoration: none;
  padding: 2.31vh 9.22vw;
  border-radius: 2vh;
}

footer {
  /* background-color: var(--cultured-dark); */
  display: flex;
  flex-direction: column;
}

footer .container,
.container2 {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  gap: 7.55vw;
  padding-top: 2.5vh;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  /* padding: 7.13vh 22.5vw 18.7vh 6.77vw; */
}

footer .container2 .icons {
  display: flex;
  justify-content: flex-start;
  gap: 10vw;
}

footer .container div {
  margin-bottom: 4vh;
}

footer h4 {
  margin: 0px;
  padding: 0px;
  font-size: 2.5vh;
  margin-bottom: 2vh;
  padding: 5px;
}

footer p {
  font-size: 2.5vh;
}

footer .line {
  border: 1px solid var(--light-gray);
}

.footer-gap {
  height: 4.72vh;
}

footer a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

footer .email {
  color: var(--persian-blue);
}

#logos > img {
  width: 13vw;
}
#logos {
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

/* poweredby || cta || footer media queries */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  #poweredby {
    background-color: var(--magnolia);
    border-radius: 6.2vh 6.2vh 0px 0px;
  }

  .cta {
    background-color: var(--mid-slate-blue);
    padding: 0px;
    display: block;
    margin-top: 0px;
    height: 28vh;
    /*  */
    padding-top: 3.57vh;
  }

  .cta p {
    font-size: 2.2vh;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 4vh;
    width: 81.9vw;
  }

  .cta h2 {
    font-size: 3vh;
    margin-top: 0px;
    color: white;
    text-align: center;
    margin: 0px;
  }

  .cta a {
    font-size: 2vh;
    font-weight: bold;
    height: 4.43vh;
    line-height: 2.3;
    width: 33vw;
    text-align: center;
    display: inline-block;
    padding: 0px;
    border-radius: 5px;
    margin-top: 4.5vh;
    /* margin: auto; */
  }

  .cta > div {
    display: flex;
    justify-content: center;
  }

  footer {
    background-color: var(--magnolia);
  }

  .footer-lg {
    display: none;
  }

  footer .toggle-item h4 {
    display: flex;
    justify-content: space-between;
  }

  footer .toggle-item .toggle {
    /* display: none; */
  }

  footer .container2 > div {
    margin-bottom: 2vh;
  }

  .toggle-body {
    display: none;
  }
}

/*  poweredby || cta || footer tab media queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #bottom {
    background-color: var(--cultured);
    border-radius: 6.2vh 6.2vh 0px 0px;
  }

  .cta {
    margin: auto;
    background-color: var(--mid-slate-blue);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-top: 0px;
    height: 24.4vh;
    width: 65.3vw;
    /*  */
    /* padding-top: 3.57vh; */
    border-radius: 3vh;
    margin-bottom: 7.7vh;

    box-shadow: 0px 5px 15px 4px #7f72a4a9;
  }

  .cta p {
    font-size: 1.76vh;
    color: white;
    text-align: center;
    /* padding-top: 4vh; */
    width: 61%;
  }

  .cta h2 {
    font-size: 2.3vh;
    margin-top: 0px;
    color: white;
    text-align: center;
    margin: 0px;
  }

  .cta a {
    font-size: 2vh;
    font-weight: bold;
    height: 4.43vh;
    line-height: 2.3;
    width: 21vw;
    text-align: center;
    display: inline-block;
    padding: 0px;
    border-radius: 1vh;
    /* margin-top: 4.5vh; */
    /* margin: auto; */
  }

  .cta > div {
    display: flex;
    justify-content: center;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toggle-item > .toggle-body {
    display: block !important;
  }
  footer .toggle-item h4 {
    display: flex;
    justify-content: space-between;
  }

  footer .toggle-item img {
    display: none;
  }

  footer .container2 > div {
    margin-bottom: 2vh;
  }

  .toggle-body {
    display: none;
  }

  footer h4 {
    font-size: 1.8vh;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 1.4vh;
    padding: 0px;
  }

  footer a {
    font-size: 1.1vh;
  }

  footer p {
    margin: 0px;
  }

  .footer-sm {
    display: none;
  }

  .footer-gap {
    height: 3vh;
  }

  .container-lg {
    display: flex;
    max-width: 73vw;
    padding-left: 6.35vw;
    padding-bottom: 12vh;
  }

  .container-inner {
    display: flex;
    flex: 1;
    margin-left: 8.4vw;
  }
  .container-inner div {
    flex: 1;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 16vh;
  }

  footer .icons {
    margin-top: 1.2vh;
  }

  footer .container2 .icons {
    gap: 2vw;
  }
}

/* general */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  html {
    width: 100vw;
  }
  #logos img {
    width: 25vw;
    margin: auto;
    margin-top: 10px;
  }
  #logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.b1 {
  border: 1px solid red;
}

.toggle-item > .toggle-body {
  display: none;
}

.toggle-item.active > .toggle-body {
  display: block;
}

#bottom {
  visibility: hidden;
}

/* media queries for desktop */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (orientation: landscape) {
  .hide-mobile {
    display: inline;
  }

  nav {
    /* border: 1px solid red; */
  }
  .logo img {
    width: 16vw;
    transition: all 0.03s ease-in-out;
  }

  .logo img:hover {
    transform: scale(0.9, 0.9);
  }

  nav .links {
    /* border: 1px solid; */
    justify-content: flex-end;
    gap: 1.9vw;
  }

  nav .form {
    justify-content: flex-start;
    margin-left: 3.36vw;
  }

  .links a {
    font-size: 2.7vh;
    transition: all 0.03s ease-in-out;
  }

  .links a:hover {
    transform: scale(0.9, 0.9);

    /* font-weight: bold; */
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.5vw;
  }

  main > div {
    width: 43vw;
  }

  .text {
    visibility: hidden;
  }

  .text h1 {
    font-size: 8vh;
    text-align: left;
    margin-bottom: 2vh;
  }
  .text p {
    font-size: 2.7vh;
    text-align: left;
    margin-bottom: 4vh;
  }

  .mockup {
    visibility: hidden;
  }

  .mockup img {
    width: 100%;
  }

  .findOutMore {
    height: 6.3vh;
    width: 16.1vw;
    border-radius: 1.34vh;
    /* border: 1px solid; */
    /* box-shadow: 5px 5px 3px  black;   */
    transition: 0.05s ease;
    position: relative;
    overflow: hidden;
  }

  .findOutMore:hover {
    box-shadow: 0px 0px 3px transparent;
  }

  .findOutMore .swipe {
    background-color: var(--yellow-green);
    position: absolute;
    height: 6.3vh;
    width: 16.1vw;
    top: 0px;
    left: 0px;
    margin-top: 6.3vh;
    transition: 0.05s ease-in-out;
  }

  .findOutMore:hover {
    /* background-color: transparent; */
  }

  .findOutMore:hover .swipe {
    margin-top: 0vh;
  }

  .findOutMore a {
    font-size: 2.7vh;
    font-weight: bold;
    height: 6.3vh;
    width: 16.1vw;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.34vh;
    transition: 00.05s ease-in-out;
    background-color: transparent;
    z-index: 1;
  }

  .findOutMore:hover a {
    /* background-color: var(--yellow-green); */
  }

  .features {
    padding-top: 13.6vh;
    padding-bottom: 0px;
  }

  .features section,
  .features section.second {
    max-width: 88vw;
    margin: auto;
    margin-bottom: 43vh;
    /* border: 1px solid; */
    flex-direction: row-reverse;
  }

  .features section.second {
    flex-direction: row;
    align-items: flex-start;
  }

  .features section h1 {
    font-size: 7vh;
    width: 53vw;
    /* border: 1px solid; */
    visibility: hidden;
  }

  .features section p {
    font-size: 2vh;
    width: 40vw;
    /* border: 1px solid; */
    margin: 0px;
    margin-top: 3vh;
    margin-bottom: 4.21vh;
    visibility: hidden;
  }

  #feature-3 {
    flex-direction: row-reverse;
  }

  .features section a {
    background-color: var(--rythm);
    border-radius: 1.34vh;
    visibility: hidden;
    transition: 0.03s ease-in;
  }

  #f1-text h1,
  #f1-mockup,
  #f2-mockup,
  #f3-mockup {
    visibility: hidden;
  }

  .features section img {
    /* border: 1px solid; */
    font-size: 2vh;
    width: 33.19vw;
  }

  .features section a:hover {
    background-color: var(--yellow-green);
  }

  #bottom {
    background-color: var(--cultured);
    border-radius: 8.7vw 8.7vw 0px 0px;
    padding-top: 9.4vh;
    visibility: hidden;
  }

  #logos {
    margin-bottom: 11vh;
  }

  .cta {
    margin: auto;
    background-color: var(--mid-slate-blue);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    margin-top: 0px;
    height: 52vh;
    width: 72vw;
    /*  */
    /* padding-top: 3.57vh; */
    border-radius: 3.6vh;
    margin-bottom: 19vh;

    box-shadow: 0px 5px 15px 4px #7f72a4a9;
  }

  .cta p {
    font-size: 2.69vh;
    color: white;
    text-align: center;
    /* padding-top: 4vh; */
    width: 40%;
  }

  .cta h2 {
    font-size: 5.7vh;
    margin-top: 0px;
    color: white;
    text-align: center;
    margin: 0px;
  }

  .cta a {
    font-size: 4.48vh;
    font-weight: 500;
    height: 9.6vh;
    line-height: 2.3;
    width: 21vw;
    text-align: center;
    display: inline-block;
    padding: 0px;
    border-radius: 1vh;
    /* margin-top: 4.5vh; */
    /* margin: auto; */
    transition: 0.03s ease;
  }

  .cta a:hover {
    background-color: white;
    color: var(--yellow-green);
  }

  .cta > div {
    display: flex;
    justify-content: center;
  }

  .footer-lg {
    display: flex;
  }

  .footer-sm {
    display: none;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toggle-item > .toggle-body {
    display: block !important;
  }
  footer .toggle-item h4 {
    display: flex;
    justify-content: space-between;
  }

  footer .toggle-item img {
    display: none;
  }

  footer .container2 > div {
    margin-bottom: 2vh;
  }

  .toggle-body {
    display: none;
  }

  footer h4 {
    font-size: 2.69vh;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 1.4vh;
    padding: 0px;
  }

  footer a {
    font-size: 1.79vh;
  }

  footer a:hover {
    color: var(--mid-slate-blue);
  }

  footer p {
    margin: 0px;
  }

  .footer-sm {
    display: none;
  }

  .footer-gap {
    height: 3vh;
  }

  .container-lg {
    display: flex;
    max-width: 73vw;
    padding-left: 6.35vw;
    padding-bottom: 12vh;
  }

  .container-inner {
    display: flex;
    flex: 1;
    margin-left: 8.4vw;
  }
  .container-inner div {
    flex: 1;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 16vh;
    padding-left: 6.35vw;
  }

  footer .icons {
    margin-top: 1.2vh;
  }

  footer .container2 .icons {
    gap: 2vw;
  }
}
